.adhil{
  padding: 20px;
  box-sizing:border-box;
display: flex;
justify-content: space-around;
 box-sizing: border-box;
  background-color: red;
  border-bottom: 3px solid white;
}
.adhil .abu{
  background-color: green;
}
.adhil a{font-size: larger;
  text-decoration: none;
}

.adhil .active{
  
  color: white;
}
.users{
  padding: 10px;
  margin: 1rem;
  width: 100%;
  text-align: center;
  background-color: rgb(207, 207, 255);
}